# exclude article pdfs of evaluation sources
evaluation/sources/

# exclude pycache
__pycache__/

# exclude .idea
.idea/

# exclude all sge scripts
*.sge

# exclude temporary documentation files
docs/Makefile
docs/_build/
docs/make.bat
